/* .container-fluid{
    background-image: url("https://cdn.pixabay.com/photo/2018/06/30/09/31/background-image-3507320_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */