<div class="container">
<h1 align="center"> FEED YOUR MIND WITH GOOD THOUGHT FROM WISE PERSON</h1>
<div class="row">
    <div class="col-md-7">
            <iframe width="600" height="421" src="https://www.youtube.com/embed/VzBiGSRAg4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
        <p>The definition of a quotation is words or phrases that are taken from someone else or from literary work or the asking price of something. An example of a quotation is when you take a passage from Shakespeare and repeat it as written without changing any of the words.<br><img src="https://www.yourdictionary.com/images/definitions/lg/10756.quotation.jpg" height="150"></p>
    </div>
</div>
</div>
<app-quote></app-quote>