<!-- <p>quote-detail works!</p> -->
<p>
    {{quote.author}}
  </p>
  <p>
      {{quote.publisher}}
    </p>
      <p> {{quote.completeDate|date|uppercase}} days</p> 
  <p>This quote will be complete in {{quote.completeDate|dateCount}} days</p>
  <p>upvote :{{quote.upvote}}</p>
<p>Downvote :{{quote.downvote}}</p>
<button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete Quote</button>
<div id="btnUp">
    <button (click)='upvote()' class="btn btn-success">Upvote</button>
    <button (click)='downvote()' class="btn btn-warning" id="dwnVote">Downvote</button>
</div>
<div class="footer">
  <p>Email:kamu@gmail.com<br>Tel:+23455896530<br></p>
</div>